* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

body {
  font-size: 36px;
  font-family: 'Roboto Condensed', sans-serif;
}

#slider,
#slider-content,
.slider-section {
  width: 100%;
  height: 100%;
  position: relative;
}

.slides-container {
  height: 100%;
  overflow: hidden;
  position: relative;
  will-change: transform;
}

.slide {
  float: left;
  height: 100%;
  text-align: center;
  line-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slides-nav {
  top: 30px;
  left: 0;
  right: 0;
  z-index: 99;
  text-align: center;
  position: absolute;
}

#slider-nav {
  top: 0;
  bottom: 0;
  width: 20px;
  right: 30px;
  z-index: 99;
  position: fixed;
}

#slider-nav ul,
.slides-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.circle,
.thumbnail {
  cursor: pointer;
  margin: 6px;
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  vertical-align: middle;
}

.thumbnail {
  width: 80px;
  height: 45px;
  overflow: hidden;
  border-color: #9E9E9E;
}

.thumbnail img {
  width: 100%;
}

.thumbnail.active {
  border-color: #fff;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#slider-nav ul {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#slider-nav .circle {
  margin: 20px 0;
}

.circle.active {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  background-color: #fff;
}

.deep-purple {
  background-color: #673AB7;
}

.amber {
  background-color: #FFC107;
}

.green {
  background-color: #4CAF50;
}